::-webkit-contacts-auto-fill-button,
::-webkit-credentials-auto-fill-button,
::-webkit-textfield-decoration-container,
::-webkit-caps-lock-indicator,
::-ms-clear,
::-ms-reveal,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    display: none;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/material-design-icons/MaterialIcons-Regular.eot");
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url("../fonts/material-design-icons/MaterialIcons-Regular.woff2") format('woff2'), url("../fonts/material-design-icons/MaterialIcons-Regular.woff") format('woff'), url("../fonts/material-design-icons/MaterialIcons-Regular.ttf") format('truetype');
}

html {
    font-size: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header,
main,
footer {
    flex: 1 0 auto;
    min-width: 264px;
    /* padding-left: 300px; */
    padding-right: 300px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
  

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding: 0;
    }
}

/* a,
.dropdown-content li,
{
    color: #03a9f4;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:before,
[type="radio"].with-gap:checked+label:after {
    border: 2px solid #03a9f4;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:after {
    background-color: #03a9f4;
}

[type="checkbox"]:checked+label:before {
    border-right: 2px solid #03a9f4;
    border-bottom: 2px solid #03a9f4;
}

[type="checkbox"]:indeterminate+label:before {
    border-right: 2px solid #03a9f4;
} */

.collapsible-body.options {
    padding: 0;
}

.clear {
    clear: both;
}

.inline {
    display: inline-flex;
}

.side-nav .collapsible-header {
    padding: 10px;
}

.collapsible-header img {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 1em;
}

.collapsible-header span {
    display: inline-block;
    vertical-align: middle;
}

.btnDelete {
    display: inline-block;
    float: right !important;
    text-align: center;
    vertical-align: top;
    margin-top: -6px;
    z-index: 10;
}

.block {
    display: block;
    padding: 4px 20px;
}

.username,
.characters {
    font-size: .8em;
}

.slide-pass {
    margin: 0;
    padding: 10px;
}

.blend {
    mix-blend-mode: multiply;
}

header {
    margin: 0;
    padding: 0px;
    /*padding: 10px 0px 0px 0px !important;*/
    color: #FFFFFF;
    overflow: hidden;
    padding-top: 20px;
    background-color: #03a9f4;
}

header h1 {
    /*margin: 0;
  margin-left:-5vmin;
  text-align: center;
  text-transform: uppercase;
  font-size: 8vmin;
  font-weight: 400;
  letter-spacing: 1vmin;*/
}

.passcloud {
    position: absolute;
    margin: 0 auto;
    top: 0vmin;
    /*top: calc(50% - 5vmin);*/
    left: calc(50% - 29vmin);
}

.cloud {
    position: absolute;
    margin: 0 auto;
    top: 0vmin;
    /*top: calc(50% - 5vmin);*/
    left: calc(50% + 21vmin);
    /*bottom: calc(50% - 5vmin);*/
    /*right: calc(50% - 5vmin);*/
    width: 10vmin;
    height: 10vmin;
    stroke: #03a9f4;
    stroke-width: 10;
    fill: #FFFFFF;
    z-index: 0;
}

footer,
footer.page-footer,
.footer-copyright {
    margin: 0;
    padding: 0;
}

footer .copy {
    float: left;
}

footer .thanks {
    float: right;
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ddd;
}

ul.side-nav.fixed li.logo img {
    height: 10vw;
    width: 10vw;
}

.fieldOff {
    opacity: 0.2;
    filter: alpha(opacity=20);
    /* For IE8 and earlier */
}

.fieldHidden {
    display: none !important;
}

#result.fieldOff {
    cursor: not-allowed;
}

.resultOn {
    font-weight: bold;
    color: #ff6f00 !important;
    background: #fff9c4 !important;
    /*border: 1px solid rgba(255,255,175, 0.8);
	box-shadow: rgba(255,255,175, 0.8) 0px 0px 12px;
	-moz-box-shadow: rgba(255,255,175, 0.8) 0px 0px 12px;
	-webkit-box-shadow: rgba(255,255,175, 0.8) 0px 0px 12px;
	cursor:text;*/
}

.collapsible {
    margin: 1px !important;
}

.input-field {
    margin-top: 0 !important;
}

.masterPass {
    margin-top: 1rem !important;
}

.mp.active {
    /*margin-top: 12px;
    font-size: 75% !important;
    -webkit-transition: margin-top 1s, font-size 1s, -webkit-transform 1s;
    transition: margin-top 1s, font-size 1s, transform 1s;*/
}

.menuButton {
    position: absolute !important;
    right: 20px;
}

.favicon {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    margin-right: 8px;
}

.syncKey {
    text-indent: 20px !important;
}
button.syncInput {
    font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: absolute;
    float: right;
    padding: 0;
    margin-top: 10px;
    margin-left: -30px;
    height: 25px;
    width: 25px;
    color: #fff;
    background: #03a9f4 !important;
    border: 0;
    vertical-align: text-top;
    -webkit-appearance: none;
    cursor: pointer;
    text-align: center;
    line-height: 0px;
}

button.clearInput {
    font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    float: right;
    padding: 0;
    margin-top: 10px;
    margin-left: -25px;
    height: 25px;
    width: 25px;
    background: none;
    color: #03a9f4 !important;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
    text-align: center;
    /*display: none;*/
}

.masterPassword button.clearInput {
    color: #fff !important;
    margin-top: 15px;
}

.masterPassword,
.masterPassword input,
.masterPassword input:hover,
.masterPassword input:focus,
.masterPassword input[type="password"],
.masterPassword input[type="password"]:hover,
.masterPassword input[type="password"]:focus,
.masterPassword label {
    color: #fff;
    border-color: #fff;
}

.inputError,
.inputError:hover,
.inputError:focus {
    border-bottom: 1px solid #e53935 !important;
    box-shadow: 0 1px 0 0 #e53935 !important;
    /*color: #f44336 !important;*/
}

.domainPassword {
    font-size: 150% !important;
    /*border-color: #ff6f00 !important;*/
}

.graD {
    background-image: linear-gradient(125deg, #03A9F4 25%, #00aaee 50%, #2575fc 85%, #0050f5 100%);
}

.markdown-body li {
    list-style-type: disc !important;
}

.passchecks {
    padding-left: 20px !important;
    padding-top: 20px !important;
}
.pusharrowsright {
    left: 25px;
    position: relative;  
}

.gradient-45deg-amber-amber {
    background: #F46424;
    background: -webkit-linear-gradient(125deg, #FEE18F 0%, #F46424 100%);
    background: linear-gradient(125deg, #FEE18F 0%, #F46424 100%);
}
.menuButton,h1.logo-wrapper {
}
.logo-wrapper {
    /* float:right; */
    /* margin-top: -2px; */
    /* margin-left: 24px; */
}

.page-topbar {
    box-sizing: inherit;
}
.brand-logo {
    position: relative;
    top: 4px;
    height: 42px;
    width: 42px;
}
.logo-text {
    font-weight: 100;
    font-size: 42px;
}