html, body {
	font-family:"Lato", Verdana, Geneva, sans-serif !important;
	width: 100%;
	height: 100%;
	margin:0 auto;
	padding:0;
	-webkit-text-size-adjust: none;
	/* IE10 Consumer Preview */
	background-image: -ms-radial-gradient(center bottom, circle farthest-side, #E9F6FC 0%, #BEE5F8 100%);
	/* Mozilla Firefox */
	background-image: -moz-radial-gradient(center bottom, circle farthest-side, #E9F6FC 0%, #BEE5F8 100%);
	/* Opera */
	background-image: -o-radial-gradient(center bottom, circle farthest-side, #E9F6FC 0%, #BEE5F8 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 477, color-stop(0, #E9F6FC), color-stop(1, #BEE5F8));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-radial-gradient(center bottom, circle farthest-side, #E9F6FC 0%, #BEE5F8 100%);
	/* W3C Markup, IE10 Release Preview */
	background-image: radial-gradient(circle farthest-side at center bottom, #E9F6FC 0%, #BEE5F8 100%);
}
@media screen and (max-device-width: 460px) {
	html {
		-webkit-text-size-adjust: none;
		}
	.selector {
		padding: 0;
		margin: 0;
		}
}
h1, h2, h3, h4, h5, h6 {
	font-family:"Lato", Verdana, Geneva, sans-serif !important;
	font-weight:normal;
	color:#569ad8;
	text-transform: none;
}
p, label {
	font-size:12px;
	font-family:"Lato", Verdana, Geneva, sans-serif !important;
	font-weight:bold;
	color:#569ad8;
}
a { color:#617798 !important; }
a:hover { color: #324b68 !important; }
.center {
	text-align:center;
}
.container {
	/*width: 460px;*/
	margin:0 auto;
	margin-top:8px;
	padding:0;
}
.copy {
	padding: 8px 0;
}
.logo {
	/*margin-bottom:12px;*/
	margin-top:40px;
}
/** Media queries! **/
    @media screen and (max-width: 768px) {
	.logo {
		margin-top:24px !important;
	}
    }
form {
	margin:auto;
	/*margin-top:8px;*/
	/*width: 440px;*/
	/*padding: 20px 0;*/
}
label {
	/*float:left;*/
	font-size:10px;
	/*margin-top:22px;
	width:120px;*/
	font-weight:bold;
}
/*
label.characters {
	width:88px !important;
}
/*
input, textarea, select {
	padding: 12px 8px;
	width:288px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 20px/100% Verdana, Tahoma, sans-serif;
	color: #4a9fda;
	background: #FFFFFF url('/img/bg_form.png') left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.2) 0px 0px 12px;
	-moz-box-shadow: rgba(0,0,0, 0.2) 0px 0px 12px;
	-webkit-box-shadow: rgba(0,0,0, 0.2) 0px 0px 12px;
}
select {
	width:62px;
}
input:hover, textarea:hover,
input:focus, textarea:focus {
	color: #3E3C3C;
	border-color: #C9C9C9;
	background: #FFFFFF url('/bg_form.png') left top repeat-x !important;
	box-shadow: rgba(0,0,0, 0.5) 0px 0px 12px;
	-moz-box-shadow: rgba(0,0,0, 0.5) 0px 0px 12px;
	-webkit-box-shadow: rgba(0,0,0, 0.5) 0px 0px 12px;
}
*/
.required {
	font-weight: bold;
	color: #FF003B;
	background:#DAC0D8 !important;
	border: 1px solid #FF003B;
	box-shadow: rgba(255,0,59, 0.8) 0px 0px 12px;
	-moz-box-shadow: rgba(255,0,59, 0.8) 0px 0px 12px;
	-webkit-box-shadow: rgba(255,0,59, 0.8) 0px 0px 12px;;
	cursor:text;
}
.fieldOff {
	opacity:0.2;
	filter:alpha(opacity=20); /* For IE8 and earlier */
}
.fieldHidden {
	display: none !important;
}
#result.fieldOff {
	cursor:not-allowed;
}
.resultOn {
	font-weight: bold;
	color: #FD8507;
	background:#ffffaf !important;
	border: 1px solid #ffffaf;
	box-shadow: rgba(255,255,175, 0.8) 0px 0px 12px;
	-moz-box-shadow: rgba(255,255,175, 0.8) 0px 0px 12px;
	-webkit-box-shadow: rgba(255,255,175, 0.8) 0px 0px 12px;;
	cursor:text;
}
select { margin:0 !important; }
.button {
	background: #4a9fda !important;
	margin:0 !important;
}
button:hover, button:focus, .button:hover, .button:focus {
	background-color: #4881bf !important;
}
/*
.button {
	width: auto;
	padding: 8px 12px;
	margin: 0px 16px 0px 0px;
	background: #4a9fda;
	border: 0;
	float:right;
	font-size: 16px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/*** Shadow behind the box ***/
	/*-moz-box-shadow:0px -5px 300px #8fdbf5;
	-webkit-box-shadow:0px -5px 300px #8fdbf5;
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier * /
	cursor:pointer;
}
.button:hover {
	background-color:#617798;
}
input.submit {
	/*width: 100px;* /
	color: #fff;
	text-transform: uppercase;
	text-shadow: #569ad8 1px 1px;
	border-top: 1px solid #569ad8;
	margin-top: 10px;
	cursor:pointer;
}
form.dreamhost label {
	width: 62px !important;
}
input.dreamAmount {
	width: 82px !important;
	margin-right:12px;
}
input.dreamSubmit {
	width: 122px !important;
	padding:6px 0;
}
*/
.countVal {
	width:80px;
	margin-right:12px;
}
.generatebox {
	margin:0;
	padding:0;
	margin: 8px 0;
	padding: 2px 0;
	text-align:right;
}
code.masterpass {
	magin:0;
	padding:0;
	font-size:12px;
	color: #617798;
	cursor:pointer;
}
.leftfloat { float: left; }
.rightfloat { float: right; }
.clear { clear: both; }
.padder { margin: 18px; }
.footer {
	font-size: 9px;
	font-weight:normal;
}
.menu {
	margin:auto;
	/*margin:22px 0 6px 0;
	/*width: 440px;*/
	/*-moz-box-shadow:0px 0px 100px #f0f7fd;
	-webkit-box-shadow:0px 0px 100px #f0f7fd;*/
	z-index:1000;
}
.drawer h1 {
	color: #FFF;
	font-size: 14px;
	text-transform: uppercase;
	border-bottom: 1px solid #666;
}
    /** Media queries! **/
    @media screen and (min-width: 40em) {
	.drawer-list {
		width: 180px;
	}
    }
.drawer-item {
	display: block;
	padding: 12px 0 12px 0;
	margin-bottom: 0;
	font-size: 12px;
	list-style: none;
	border-top: 1px solid #464646;
	border-bottom: 1px solid #333;
}
.drawer-item span.listing {
	position: relative;
	top:10px;
}
.drawer-item .del {
	width: 24px;
	text-align: right;
	margin-top: 12px;
	margin-right: 5px;
}
.drawer-item a {
	color: #FFFFFF;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 48px;
}
.iosbar {
	top:0;
	height: 30px;
	background-color: rgba(55,55,55,1);
}
.centering {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.small {
	font-size: 10px;
}
.nowrap {
	white-space:nowrap;
}
